@model SummaryTransactionViewModel

@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome, <strong>@User.Identity.Name</strong></h1>
    </div>
    <div style="margin-top:60px">
        <span class="text-danger">@Model.ErrorMessage</span>
        <h2>Total Received</h2>
        <table class="table table-bordered" style="margin-top:30px">
            <thead>
                <tr>
                    <th class="text-center" scope="col">@Html.DisplayNameFor(m => m.TotalToday)</th>
                    <th class="text-center" scope="col">@Html.DisplayNameFor(m => m.TotalThisMonth)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center" scope="row"><h5>@Model.TotalToday</h5></td>
                    <td class="text-center"><h5>@Model.TotalThisMonth</h5></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3>Transactions History for the Last 30 Days </h3>
    <div style="width:75%; text-align:center;display:inline-block">
        <canvas id="transactionChart" width:"400" height:"400" style="width:100%;display:inline-block;margin:auto"></canvas>
    </div>
</body>

@section scripts{
<script type="text/javascript" src="~/lib/jquery/HomePage.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
<script>
    createChart();
</script>
}

