@model CashFlowUI.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<div id="loginPageBorderDiv">

    <h3 class="pageTitle">Login in the system</h3>

    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
    null, new { @class = "", id= "loginPageForm", role = "form" }))
    {
        <span asp-validation-for="User" class="loginPageSpan"></span>
        <div>
            @Html.LabelFor(m => m.User, new { @class="loginPageLabel"} )
            @Html.TextBoxFor(m => m.User, new { @class="loginPageField" })
        </div>
        <span asp-validation-for="@Model.Password" class="loginPageSpan"></span>
        <div>
            @Html.LabelFor(m => m.Password, new { @class="loginPageLabel"} )
            @Html.PasswordFor(m => m.Password, new { @class="loginPageField" })
        </div>
        <div id="rememberMeDiv">
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
        </div>

        <input type="submit" class="btn btn-success" id="loginButton" value="Login" />
    }
</div>


@section styles{
<link rel="stylesheet" type="text/css" href="~/css/LoginPage.css" />
}